# Ignore Excel files
*.xls
*.xlsx
*.xlsm
*.xlsb
*.txt
*.json
*.xml
*.csv

/.pytest_cache
/.pytest_cache/
.pytest_cache/

/_pycache_
/_pycache_/
pycache/
__pycache__/

/XCT
/Decoder
/Stonebranch/App

.env
*.cfg
/Stonebranch/UniversalTemplate/CS_DataStage
/Stonebranch/UniversalTemplate/Jira
/Stonebranch/UniversalTemplate/GnuPG

Azure
Azure/

*:*
